.column {
    height: max-content;
    min-height: 100px;
    width: 320px;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border: 2px solid #7d7d7d; /* Параметры границы */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.applied-column {
    background-color: #fff0f0;
}

.phone-screen-column {
    background-color: #fffada;
}

.on-site-column {
    background-color: #f5ffe5;
}

.offered-column {
    background-color: #fff0f0;
}

.accepted-column {
    background-color: #fffada;
}

.rejected-column {
    background-color: #f5ffe5;
}
